/* TYPOGRAPHY */
body {
  text-transform: uppercase;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 60px;
}

h2 {
  color: black;
  font-weight: 700;
  font-size: 48px;
}

h3 {
  color: white;
  font-size: 25px;
  font-weight: 700;
}

/* UTILITIES */
/* Star position */
.star-white,
.star-black {
  position: relative;
  padding: 20px 0;
}

/* White star */
div.star-white i {
  background-color: #1abc9c;
  font-size: 30px;
  color: white;
  position: relative;
  z-index: 1;
  padding: 0 40px;
}

div.star-white::after {
  content: '';
  height: 4px;
  width: 60%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Black star */
div.star-black i {
  background-color: white;
  font-size: 30px;
  position: relative;
  z-index: 1;
  padding: 0 40px;
}

div.star-black::after {
  content: '';
  height: 4px;
  width: 60%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* HEADER */
/* Navbar */
.navbar {
  background-color: rgb(44, 62, 80);
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar .navbar-brand,
.navbar .navbar-right li a {
  font-weight: 700;
  color: white;
  line-height: 60px;
}

.navbar .navbar-right li a {
  font-size: 16px;
}

.navbar .navbar-brand {
  font-size: 26px;
}

/* Jumbotron */
#jumbotron {
  background-color: #1abc9c;
  padding-bottom: 60px;
}

#jumbotron img {
  width: 250px;
  margin-top: 55px;
}

/* MAIN */
/* Portfolio */
#portfolio {
  padding: 60px 0;
}

#portfolio [class*=col-] {
  padding-top: 15px;
  padding-bottom: 15px;
}
