/* TYPOGRAPHY */
body {
  text-transform: uppercase;
  color: white;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 26px;
}

/* UTILITIES */
/* Links */
a:link {
  color: #1abc9c;
}

a:visited,
a:active {
  color: #ccc;
}

a:hover {
 color: rgb(44, 62, 80);
}

/* Star position */
.star-white,
.star-black {
  position: relative;
  padding: 20px 0;
}

/* White star */
div.star-white i {
  background-color: #1abc9c;
  font-size: 30px;
  color: white;
  position: relative;
  z-index: 1;
  padding: 0 40px;
}

div.star-white::after {
  content: '';
  height: 4px;
  width: 40%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Black star */
div.star-black i {
  color: black;
  background-color: white;
  font-size: 30px;
  position: relative;
  z-index: 1;
  padding: 0 40px;
}

div.star-black::after {
  content: '';
  height: 4px;
  width: 40%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* HEADER */
/* Navbar */
.navbar {
  background-color: rgb(44, 62, 80);
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  height: 80px;
}

.navbar-header button.navbar-toggle {
  margin-top: 20px;
}

.navbar .navbar-brand,
.navbar .navbar-right li a {
  font-weight: 700;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar .navbar-right li a {
  font-size: 16px;
}

.navbar .navbar-brand {
  font-size: 26px;
}

/* Jumbotron */
#jumbotron {
  background-color: #1abc9c;
  padding-bottom: 60px;
}

#jumbotron img {
  width: 250px;
  margin-top: 55px;
}

/* MAIN */
/* Portfolio */
#portfolio {
  padding: 60px 0;
}

#portfolio h2 {
  color: black;
}

#portfolio [class*=col-] {
  padding-top: 15px;
  padding-bottom: 15px;
}

#portfolio .img-container {
  position: relative;
}

#portfolio .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  display: none;
}

#portfolio .img-container:hover .overlay {
  display: block;
}

#portfolio .overlay::after {
  content: '\f067';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 90px;
  color: white;
}

/* About */
#about {
  background-color: #1abc9c;
  padding-top: 60px;
  padding-bottom: 60px;
}

#about .row:nth-child(2) {
  padding: 0 80px;
}

#about p {
  text-transform: none;
  font-size: 20px;
}

#about button {
  margin-top: 30px;
  color: white;
  background-color: #1abc9a;
  border-color: white;
}

/* Contact */
#contact {
  padding-bottom: 60px;
  padding-top: 60px;
}

#contact h2 {
  color: black;
}

#contact #f-message {
  display: block;
}

#contact .form-control {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

#contact label {
  text-transform: capitalize;
  color: rgba(44, 62, 80, 1);
  font-size: 20px;
  font-weight: 400;
}

#contact button {
  background-color: #1abc9c;
  border: 0;
  color: white;
  margin-top: 20px;
}

/* FOOTER */
footer {
  text-align: center;
}

footer h3 {
  font-weight: 400;
}

footer p {
  text-transform: none;
  font-size: 20px;
}

footer .wrap:first-child {
  background-color: #3a546d;
  padding-top: 60px;
}

footer .ft-icon {
  text-align: center;
  height: 60px;
  width: 60px;
  color: white;
  border: 1px solid white;
  font-size: 24px;
  display: inline-block;
  border-radius: 50%;
  line-height: 60px;
  margin-right: 8px;
}

footer .ft-icon a:link,
footer .ft-icon a:visited,
footer .ft-icon a:active,
footer .ft-icon a:hover {
  color: white;
}

footer .ft-icon a {
  padding: 18px 18px;
}

footer .ft-icon:last-child {
  margin-right: 0;
}

footer .wrap:first-child [class*=col-] {
  padding-bottom: 40px;
}

footer .wrap:nth-child(2) {
  background-color: rgb(44, 62, 80);
}

footer .wrap:nth-child(2) p {
  font-size: 14px;
  line-height: 80px;
  margin-bottom: 0;
}
