/* Typography */
body {
  text-transform: uppercase;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 60px;
}

h2 {
  color: black;
  font-weight: 700;
  font-size: 54px;
}

h3 {
  color: white;
  font-size: 25px;
  font-weight: 700;
}

/* Header */
/* Navbar */
.navbar {
  background-color: rgb(44, 62, 80);
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar .navbar-brand,
.navbar .navbar-right li a {
  font-weight: 700;
  color: white;
  line-height: 60px;
}

.navbar .navbar-right li a {
  font-size: 16px;
}

.navbar .navbar-brand {
  font-size: 26px;
}

/* Jumbotron */
#jumbotron {
  background-color: #1abc9c;
  padding-bottom: 60px;
}

#jumbotron img {
  width: 250px;
  margin-top: 55px;
}

#jumbotron i {
  color: white;
  background-color: #1abc9c;
  font-size: 30px;
  position: relative;
  z-index: 1;
  padding: 0 40px;
}

#jumbotron div.star {
  position: relative;
}

#jumbotron div.star::after {
  content: '';
  height: 4px;
  width: 60%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
